#modal_search .list {
    max-height: 360px;
    overflow: auto;
}

.modalsection {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 2px 2px 8px #BBBBBB, -2px 0 8px #BBBBBB;
    width: 97%;
    background:none repeat scroll 0 0 snow;
    margin:0 0 12px;
    padding:6px 8px;
}

#MB_content {
    padding-bottom: 8px;
}

#MB_window {
    height: auto !important;
    -moz-border-radius: 7px 7px 7px 7px;
}


.modaldisplaybox {
    border-color:#C4C4C4 #E4E4E4 #E4E4E4 #C4C4C4;
    border-style:solid;
    border-width:1px;
    height:auto !important;
    margin:10px;
    margin-left: 0;
    overflow:hidden;
    padding:0;
    width: 320px;
}
    .modaldisplay-label, .modaldisplay-button {
        padding:7px;
    }
    
    .modaldisplay-label {
        padding-left: 10px;
        float: left;
    }

    a.modaldisplay-button {
        background-color: white;
        height: 100%;
        float: right;
        border-left: 1px solid #E4E4E4;
    }
    a.modaldisplay-button:hover {
        color: #000;
        background-color: #E4E4E4;
        border-left-color: #C4C4C4;
    }
