#modal_search .list {
    max-height: 360px;
    overflow: auto;
}

.modalsection {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 2px 2px 8px #BBBBBB, -2px 0 8px #BBBBBB;
    width: 97%;
    background:none repeat scroll 0 0 snow;
    margin:0 0 12px;
    padding:6px 8px;
}

#MB_content {
    padding-bottom: 8px;
}

#MB_window {
    height: auto !important;
    -moz-border-radius: 7px 7px 7px 7px;
}
